/* Abajo de 64 em se considera pantalla chica */
@media (max-width: 64em){
 .locationList{
     max-height: 30vh;
     overflow: auto;
     margin-bottom: 20px;
 }
}
.forecast-title{
    color:wheat;
    text-align: center;
    padding-top:15px;
    padding-bottom:15px ;
}